includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 1
